.section {
  font-family: "Times New Roman", Times, serif;
  opacity: 80%;
}
.example {
  letter-spacing: 1px;
  opacity: 80%;
}
@media (max-width: 1200px) {
  .section,
  .example {
    font-size: 14px;
  }
}
